.for-test-only {
    width: 100%;
    text-align: center;
    color: $white;
    background-color: $red;
    position: fixed;
    top: 0;
    line-height: 40px;
    z-index: 1000;

    &~.main-content, &~.sidenav {
        margin-top: 40px;
    }
}

.locale {
    &.flag {
        width: 23px;
        height: 17px;
    }
}

.table-flush {
    .thumbnail {
        width: 32px;
        height: 32px;
    }
}

.custom-control-label {
    &.border { 
        border: none !important;
    }
    &.border::after {
        border: 1px solid $gray-200 !important;
    }
    &.border.border-danger::after {
        border-color: $red !important;
    }
}

.brand-logo {
    height: 60px !important;
    &.brand-logo-sm {
        height: 40px !important;
    }
}

.navbar-vertical .navbar-brand-img, .navbar-vertical .navbar-brand > img {
    max-height: 50px;
}